.home {
	min-height: 100vh;

	position: relative;
}

.bg_image {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
}

.wrapper {
	// background-color: red;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.day_image {
	background-size: cover;
	background-image: url("../../assets/img/desktop/bg-image-daytime.jpg");
	filter: brightness(65%);
}
.night_image {
	background-image: url("../../assets/img/desktop/bg-image-nighttime.jpg");
}

// / 760px 1024px
@media (max-width: 64em) {
	.day_image {
		background-image: url("../../assets/img/tablet/bg-image-daytime.jpg");
	}
	.night_image {
		background-image: url("../../assets/img/tablet/bg-image-nighttime.jpg");
	}
}

// 375 -480px
@media (max-width: 30em) {
	.day_image {
		background-image: url("../../assets/img/mobile/bg-image-daytime.jpg");
	}
	.night_image {
		background-image: url("../../assets/img/mobile/bg-image-nighttime.jpg");
	}
}
